*{
  margin: 0;
  padding: 0;
}

main{
  display: flex;
  padding: 180px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}




